main {
    width: 100%;
    height: 87vh;
    background-color: $secondBackgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 10vh;
    }

    h2 {
        margin-bottom: 3vh;
    }


}