<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap"
        rel="stylesheet">
    <title>Projeto Formulario</title>

    <script> alert("Olá Mundo") </script>
</head>

<body>
    <header id="headerFullContainer">
        <h1 class="logo">SERBATO</h1>
        <div>
            <button class="stdButton"><span>Home</span></button>
            <button class="stdButton"><span>Dark Mode</span></button>
        </div>
    </header>

    <main>
        <h1>Curso JS Alura</h1>
        <h2>Meus Pacientes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Peso(Kg)</th>
                    <th>Altura(m)</th>
                    <th>Gordura Corporal(%)</th>
                    <th>IMC</th>
                </tr>
            </thead>
        </table>
    </main>
</body>

</html>